<!DOCTYPE html>
<html lang="en">
<head>
  <title> Create Account </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="../public/js/jquery-3.1.1.min.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
      $("button").click(function(){
          alert("Research paper added successfully");
      });
    });  
  </script>
</head>
<body>

<div class="container">
  <h1>
    <p class="text-center">TallClaims</p>
  </h1>
  <br>
  <h3>
    <p class="text-center">Add Research Paper </p>
  </h3>
  <br>
  <form action="/views/research_paper_list.html" >
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="title" type="text" class="form-control" name="password" placeholder="Title">
    </div>
    <br>
    <div class="input-group" id="sub">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="description" type="text"  class="form-control col-md-4" style="min-height: 200px" placeholder="Description">
    </div>
    <br>
    <button class="btn btn-default"> Submit </button>
    
  </form>
  <br>

</div>

</body>
</html>

