<!DOCTYPE html>
<html lang="en">
<head>
  <title> Create Account </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="../public/js/jquery-3.1.1.min.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1> TallClaim ! First decentralized research validation system </h1>
  <br>
  <h1>Enter password to Create a new Account</h1>
  <br>
  <form action="/views/account_details.html" >
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="confirm_password" type="password" class="form-control" placeholder="Confirm Password">
    </div>
    <br>
    <button class="btn btn-default" > Submit </button>
  </form>
  <br>

</div>

</body>
</html>

